.to-do-container {
    background-color: lightcoral;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.delete {
    color:red;
    cursor: pointer;
}

.complete {
    text-decoration: line-through
}
.task-complete {
    opacity: .5;
}